.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 50px;
   
}

.card {
    border: solid grey 2px;
    padding: 5px;
}

.title {
    text-align: center;
}


.add{
    display: flex;
    justify-content: right;
    padding-right: 50px;
}
  

.Modal-Input{
    display: flex;
    flex-direction: column;

    padding: 10px
}

.Modal-Buttons{
    display: flex;
    justify-content: right;
    gap: 10px
}

.Modal-Title{
    text-align: center;
}

.Login {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.Sign-Up{
    display: flex;
    justify-content: center;
}