.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 50px;
   
}

.card {
    border: solid grey 2px;
    padding: 5px;
}

.title {
    text-align: center;
}


.add{
    display: flex;
    justify-content: right;
    padding-right: 50px;
}
  

.Modal-Input{
    display: flex;
    flex-direction: column;

    padding: 10px
}

.Modal-Buttons{
    display: flex;
    justify-content: right;
    gap: 10px
}

.Modal-Title{
    text-align: center;
}

.Login {
    display: flex;
    justify-content: center;
    gap: 10px;
    
}

.Sign-Up{
    display: flex;
    justify-content: center;
}


.createAccount{
    padding-top: 50px;
    padding-bottom: 25px;
}

.Rushee-Buttons{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.Modal-Table{
    display: flex;
    justify-content: center;

}


table, th, td{
    padding: 3px;
    background-color:grey;
    border: 1px solid;
}


.Navigation {
    display: flex;
    justify-content: space-between;
}

.LogOut_Button {
    margin: 5px;
}

.search_button {
    margin: 7px;
}

.search_bar {
    margin:  7px 0px;
}

.add_button {
    margin-bottom: 30px;
}